:root {
    /* box model */
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* fonts */
    --main--font: "DM Sans", sans-serif;
    --secondary--font: "Inter", sans-serif;
    --weight--300: 300;
    --weight--400: 400;
    --weight--500: 500;
    --weight--700: 700;

    /* Visual styles */
    --border-radius: 1.5rem;
    --gradients: linear-gradient(207.8deg, #2c3553 16.69%, #05060a 100%);
    --box-shadow: -10px 10px 20px -2px rgba(0,0,0,0.55);

    /* color */
    --main-color: #05060a;
    --secondary-color:#1b2038;
    --color-highlight: #f7931a;
    --soft-orange:#fde0be;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#101321;
    --gray-color:#bababa;
    --off-white:#faf8f7;
    --just-white:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--main--font);
}

/* ----------------------------------------HEADER---------------------------------------- */
header {
    background-image: var(--gradients);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem;
}

header .container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* logo header*/
.header__logo--container {
    margin: 0;
}

.header__logo--container img {
    width: 15rem;
    height: auto;
}

/* background header */
.header__background--container {
    justify-self: center;
    margin: 0;
    width: 30rem;
    height: auto;
}

.header__background--container img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

/* text description header */
.header__text--container {
    justify-self: center;
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: auto;
}

.header__text--title {
    margin-bottom: 1.5rem;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: var(--weight--700);
    color: var(--just-white);
}

.header__text--description {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: var(--color-highlight);
}